.footer {
  background-color: #000;
  color: #fff;
  padding: 80px 0 24px;

  .footer-content {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 0 15px;
  }

  .footer-section {
    h3 {
      color: #fff;
      font-size: 24px;
      margin-bottom: 24px;
      margin-top: 0;
      font-weight: 400;
    }

    h4 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 400;
    }

    p {
      color: #fafafa;
      margin-bottom: 16px;
    }

    .email-input {
      .ant-input {
        background-color: #000;
        border: none; // lighter border
        border-radius: 4px;
        color: #fff;
        height: 38px;
        padding: 0 12px 0 0px;
        line-height: 38px;
        &::placeholder {
          color: #fafafa;
        }
        .ant-input-suffix {
          margin-left: 8px;

          .suffix-icon {
            display: flex;
            align-items: center;

            svg {
              width: 20px;
              height: 20px;
              fill: #fff; // Make icon white
            }
          }
        }
      }
      .ant-input:hover,
      .ant-input:focus {
        // border-color: rgba(255, 255, 255, 0.4);
        box-shadow: none;
      }
      .ant-input-affix-wrapper {
        background-color: #000;
        padding: 2px 11px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 16px;

        a {
          color: #fafafa;
          text-decoration: none;
          font-weight: 300;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .download-section {
      display: flex;
      gap: 8px;
      margin-bottom: 24px;
      align-items: flex-start;

      .qr-code {
        width: 80px;
        height: 80px;
        margin-top: 4px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .store-buttons {
        display: flex;
        flex-direction: column;
        gap: 4px;

        img {
          width: 120px; // Set fixed width for both images
          height: 40px;
          object-fit: contain;
        }
      }
    }

    .social-icons {
      display: flex;
      gap: 24px;

      a {
        color: #fff;
        font-size: 24px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .footer-bottom {
    // max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 40px;

    .footer-copyright {
      color: var(--line-color);
      font-size: 14px;
    }
  }
}
