.main-container {
  --bg-color: #000;
  --font-color-1: #fff;
  --font-color-2: #000;
  --line-color: #d9dbe9;
  --input-bg-color: #eff0f6;
  --element-bg-color: #f7f7fc;
  --off-white-color: #fcfcfc;
  --seconday-color: #db4444;
  --secondary-bg-color: #f5f5f5;
  --primiry-bg-color: #fff;
  --text-2: #7d8184;
  --button-1-color: #00ff66;
}

.top-banner {
  height: 48px;
  line-height: 48px;
  background: var(--bg-color);
  color: var(--font-color-1);
}
.sticky-header-container {
  position: sticky;
  z-index: 2;
  top: 0px;
  padding: 40px 0 16px 0;
  border-bottom: 1px solid var(--line-color);
  background: var(--off-white-color);
  .header-content-container {
    height: 38px;
    line-height: 38px;
    .header-title {
      font-size: 24px;
      font-weight: bold;
      // margin-right: 190px;
    }
    .header-tabs-container {
      .ant-tabs-nav {
        margin: 0;
        .ant-tabs-tab {
          padding: 0 0;
          font-size: 16px;
          // font-weight: lighter;
        }
      }
      // margin-right: 148px;
    }
  }
  .search-input {
    width: 243px;
    .ant-input-affix-wrapper {
      background-color: #f5f5f5;
      .suffix-icon {
        display: flex;
        align-items: center;
      }
    }
    .ant-input-outlined {
      border: none;
    }
    .ant-input {
      height: 30px;
    }
  }
  .ant-tabs-nav {
    &::before {
      border: none !important; // Remove the bottom border of tabs nav
    }

    .ant-tabs-ink-bar {
      background: #0d6efd; // Blue underline for active tab
      height: 2px; // Adjust thickness as needed
    }

    .ant-tabs-tab {
      padding: 8px 0; // Adjust padding as needed
      margin: 0 24px; // Adjust spacing between tabs

      &:hover {
        color: #0d6efd;
      }

      &.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #0d6efd;
        font-weight: 500;
      }
    }
  }
}

.bottom-padding {
  padding-bottom: 70px;
}

.section-gap {
  gap: 70px;
}

.promotional-container {
  .promotional-categories {
    // height: 454px;
    padding-top: 40px;
    width: 233px;
    box-sizing: border-box;
    padding-right: 16px;
    border-right: 1px solid var(--line-color);
    ul {
      padding-left: 0;
    }
    li {
      height: 24px;
      line-height: 24px;
      font-size: 16px;
      cursor: pointer;
      font-weight: lighter;
    }
    li::after {
      content: url('../../assets/icons/Vector.svg');
      position: absolute;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }
    li:hover::after {
      opacity: 1;
    }
  }
  .carousel-container {
    padding-top: 40px;
    padding-left: 45px;
    overflow: hidden;
    .car1-container {
      background: #000;
      color: var(--font-color-1);
      height: '344px';
      .desc-container {
        padding: 58px 0 28px 64px;
        .show-now-button {
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }
}

// .title-bar {
//   width: 20px;
//   height: 40px;
//   background: var(--seconday-color);
//   border-radius: 4px;
// }

// .section-title {
//   color: var(--seconday-color);
//   font-size: 16px;
//   font-weight: 400;
// }

.flash-sales-title {
  font-size: 36px;
  margin-top: 24px;
}

.section-info-container {
  margin-right: 87px;
}

.time-title {
  font-size: 12px;
  font-weight: 400;
}

.time-number {
  font-size: 32px;
  font-weight: bold;
}

.time-separator {
  color: #e07575;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}

.arrow-icon-wrapper {
  display: inline-block;
  line-height: 46px;
  width: 46px;
  height: 46px;
  text-align: center;
  background: var(--secondary-bg-color);
  border-radius: 50%;
  svg {
    vertical-align: middle;
  }
}

.today-sales-container,
.categories-container {
  padding-bottom: 60px;
}

.dividing-line {
  border-bottom: 1px solid var(--line-color);
}

.sales-container {
  margin-top: 40px;
}

.view-all-container {
  margin-top: 50px;
  .view-all-button {
    width: 234px;
    height: 56px;
    font-size: 16px;
    color: var(--font-color-1);
    background: var(--seconday-color);
    border: none;
    border-radius: 4px;
  }
}

.categories-list-container {
  margin-top: 60px;
  gap: 30px;
  .category-item-container {
    width: 170px;
    height: 145px;
    border: 1px solid var(--line-color);
    border-radius: 4px;
    &:hover {
      background: var(--seconday-color);
      .category-name {
        color: var(--font-color-1);
      }
      svg path,
      svg line {
        stroke: var(--font-color-1);
      }
    }
  }
}

.view-all-btn {
  width: 159px;
  height: 56px;
  font-size: 16px;
  color: var(--font-color-1);
  background: var(--seconday-color);
  border: none;
  border-radius: 4px;
}

.special-promotional-product {
  height: 500px;
  box-sizing: border-box;
  padding: 40px 50px;
  background: var(--bg-color);
  color: var(--font-color-1);
  .desc-container {
    padding-top: 30px;
    padding-left: 16px;
    .desc-title {
      color: var(--button-1-color);
    }
    .desc-text {
      font-size: 48px;
      width: 400px;
    }
    .button-1 {
      width: 171px;
      height: 56px;
      background: var(--button-1-color);
      border: none;
      border-radius: 4px;
      color: var(--font-color-1);
      font-size: 16px;
    }
  }
  .special-img-container::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.03;
    pointer-events: none;
  }
  .time-container {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    color: var(--font-color-2);
    background: var(--primiry-bg-color);
    .time-text {
      font-size: 16px;
      font-weight: bold;
    }
    .time-label {
      font-size: 12px;
    }
  }
}

.explore-products-container {
  .explore-products-sales-container {
    margin-top: 60px;
  }
  .explore-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
  }
}

.new-arrival-layout {
  margin-top: 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 286px);
  .new-arrival-item {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    &:hover {
      transform: scale(1.05);
    }
  }
  .item1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }
  .item2 {
    grid-row: 1;
    grid-column: 3 / 5;
  }
  .item3 {
    grid-row: 2;
    grid-column: 3;
  }
  .item4 {
    grid-row: 2;
    grid-column: 4;
  }
  .postition-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .new-arrival-product-info {
    position: absolute;
    left: 32px;
    bottom: 32px;
    width: 242px;
    .product-name {
      color: var(--font-color-1);
      font-size: 24px;
    }
    .product-desc {
      color: var(--font-color-1);
      font-size: 14px;
      line-height: 20px;
      font-weight: lighter;
    }
    .buy-button {
      color: var(--font-color-1);
      text-decoration: underline;
      background: none;
      border: none;
      font-size: 16px;
      font-weight: bold;
      font-weight: lighter;
      padding: 0;
    }
  }
}

.customer-benefits-container {
  margin-bottom: 62px;
  .customer-benefits {
    width: 950px;
    height: 161px;
    gap: 88px;
    .customer-benefits-icon-container {
      width: 60px;
      height: 60px;
      background: var(--bg-color);
      border: 12px solid #d1d4db;
      border-radius: 50%;
      text-align: center;
    }
    .customer-benefits-title {
      margin-top: 24px;
      font-size: 20px;
      font-weight: bold;
    }
    .customer-benefits-desc {
      margin-top: 8px;
      font-size: 14px;
      font-weight: lighter;
    }
  }
}

.scroll-to-top-container {
  height: 46px;
  margin-bottom: 32px;
  .icon-button {
    width: 46px;
    height: 46px;
    background: #f5f5f5;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: -46px;
  }
}
