html,
body {
  padding: 0;
  margin: 0;
  background: #f0eff2 !important;
  --header-height: 64px;
}

#root {
  // padding: 24px;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.non-login-container {
  width: 600px;
  margin: 300px auto;
}

.warningMsg {
  color: red;
}

.main-layout-container {
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: var(--header-height);
    background: #fff;
    border-color: #f0f2f5;
    font-weight: 400;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  }
  .main-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 16px 0;
  }
  .header-container {
    padding: 0 8px;
  }
}

ul {
  list-style-type: none;
}

.ant-card {
  height: 100%;
}
