.main-container {
  min-height: 100vh;
  .main-content {
    display: flex;
    flex: 1 0 auto; // This makes the content area expand to push footer down
    flex-direction: column;
  }
  .content-width {
    max-width: 1170px;
    margin: 0 auto;
  }
  .footer-container {
    flex-shrink: 0;
  }
}
